body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    padding:10px;
    width: 100%;
    margin: 0;
    color: black;
}
.head{
    
    padding: 5px;
    margin: 0 3px;
    width: 31%;
    justify-content: space-evenly;
    display: inline-flex;
    text-align: left;
}
img{
    width: 20%;
    margin: 10px;
    text-align: left;
   
}
span{
    margin-top: 30px;
    text-align: center;
    word-spacing: normal;
    text-transform: capitalize;
}
button{
    text-align: right;
}
.section{
    background-color: black;
    padding: 5px;
    margin: 0 3px;
    justify-content: space-evenly;
    display: inline-flex;
    text-align: left;
    width: 100%;
    color: white;
}

.one{
    margin: 5px 0;
    text-align: end;
    width: 10%;
}
.two{
    text-align: left;
    width: 35%;
    margin-top: 30px;
}
.section .three{
    position: relative;
    text-align: left;
    width: 40%;
    margin-top: 40px;
}
.back{
    background-image:url(OKAY.avif) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    text-align: center;
    color: white;
}
form{
    text-align: center; 
    height: max-content; 
    padding: 10px; 
    width: max-content; 
    position: relative; 
    margin: auto; 
    background-color: white;
}
.form{
    position: relative;
    top: 37%;
}
h1{
    text-align: center;
    margin-top: 10%;
}
.sec{
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:25% 25% 25% 25%;

}
.col{
    padding: 15px;
    margin: 10px 0;
    text-align: center;
    box-sizing: content-box;

}
.next{
    background-color:black;
    background-size: cover;
    margin: 0 auto;
    display: grid;
    grid-template-columns:30% 20% ;
    width: 100%;
    gap: 70%;


}
.now{
    background-color: blue;
    padding: 5px;
    width: 100%;
    margin: 10px 0;
}
.now .p{
    margin: 30%;
}